## Node / frontend
/frontend-web/node_modules/
/frontend-web/dist/
/frontend-web/target/

# ... (tes anciennes règles) ...

## Flutter / frontend-mobile
/frontend-mobile/.dart_tool/
/frontend-mobile/.flutter-plugins
/frontend-mobile/.flutter-plugins-dependencies
/frontend-mobile/.packages
/frontend-mobile/build/
/frontend-mobile/generated/


## Java / backend
/backend/target/

# PKI materials / uploads
/backend/ca-store/
/frontend-web/ca-store/
/backend/uploads/
/frontend-web/uploads/
*.pem
*.p12
*.crt

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
*.local

# Logs
*.log

/logs/
*.log
/target/


